*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:verdana;
}
.container{
position:absolute;
left:50%;
top:50%;
background:white;
transform:translate(-50%,-50%);
border-radius:8px 8px 0px 0px;
box-shadow:2px 2px 8px rgba(0,0,0,0.4);
}
.result{
background-color:black;
color:white;
padding:20px;
height:100px;
border-radius:8px 8px 0px 0px;
font-size:25px;
}
.buttons{
display:flex;
flex-direction:column;
flex-wrap:wrap;
gap:1px;
}
.row{
display:flex;
justify-content:space-around;
gap:1px;
}
.row button{
width:75px;
height:75px;
border-radius:0 0 0 0;
outline:none;
border:none;p
font-size:20px;
text-align:center;
transition:0.2s all linear;
}
.row button:hover{
background-color:grey;
}
.row button:active{
background-color:pink;
}
#equal{
width:75px;
}
#dot{
font-weight:100;
}